.list-item {
  margin-top: 20rpx;
  background-color: #fff;
  border-radius: 20rpx;
  display: flex;
  padding: 15rpx;
  box-sizing: border-box;
  &-img {
    width: 80rpx;
    text-align: center;
    image {
      width: 50rpx;
      height: 50rpx;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    .title {
      font-size: 30rpx;
      color: #000;
      font-weight: 600;
    }
    .detail {
      display: flex;
      flex-direction: column;
      margin: 10rpx 0;
    }
    text {
      color: #dbdbdb;
      font-size: 20rpx;
      line-height: 35rpx;
    }
    View:nth-child(3) {
      display: flex;
      .img {
        width: 70rpx;
        height: 70rpx;
        border-radius: 10rpx;
        overflow: hidden;
        image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &-oper {
    width: 80rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    view {
      height: 80rpx;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}