.pet-info {
  .card {
    height: 200rpx;
    padding: 0 20rpx 10rpx 20rpx;
    box-sizing: border-box;
    position: relative;
    border-radius: 20rpx;
    &-info {
      &-top {
        position: relative;
        view:nth-child(1) {
          border-radius: 15rpx;
          overflow: hidden;
          position: absolute;
          top: -10rpx;
          left: 0;
          width: 140rpx;
          height: 140rpx;
          image {
            width: 100%;
            height: 100%;
          }
        }
        .info {
          margin-left: 150rpx;
          height: 130rpx;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text {
            font-size: 32rpx;
            font-weight: 600;
            color: #000;
          }
          View {
            margin-top: 10rpx;
            text {
              color: #333;
              font-size: 25rpx;
            }
            text:nth-child(1) {
              padding-right: 10rpx;
            }
          }
        }
      }
      &-bottom {
        margin-top: 10rpx;
        display: flex;
        align-items: center;
        view {
          margin-left: 140rpx;
        }
        text {
          font-size: 25rpx;
          color: #dbdbdb;
        }
      }
    }
  }
  .at-form {
    background-color: #f5f6f8;
  }
  
  .part-common {
    margin-top: 20rpx;
    padding: 20rpx;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20rpx;
  }
  
  .part1 {
    height: 250rpx;
    .nickname {
      text {
        font-size: 25rpx;
        color: #dbdbdb;
      }
      .at-input {
        margin-left: 0;
        padding: 0;
      }
    }
    .variety {
      text {
        font-size: 25rpx;
        color: #dbdbdb;
      }
      picker {
        margin-top: 15rpx;
      }
      &-select {
        height: 30rpx;
        line-height: 30rpx;
        display: flex;
        justify-content: space-between;
        text {
          font-size: 32rpx;
          color: #dbdbdb;
        }
        .active {
          color: #000;
        }
      }
    }
  }
  
  .part2 {
    height: 150rpx;
    .gender, .sterilization {
      display: flex;
      justify-content: space-between;
      text {
        font-size: 32rpx;
      }
    }
    .sterilization {
      margin-top: 20rpx;
    }
  }
  
  .part3 {
    height: 150rpx;
    view:nth-child(2) {
      margin-top: 20rpx;
    }
    .select {
      display: flex;
      justify-content: space-between;
    }
  }

  .part5 {
    margin-bottom: 20rpx;
    text  {
      font-size: 25rpx;
      color: #dbdbdb;
    }
    .at-textarea {
      margin-top: 10rpx;
    }
  }
}