page {
  padding: 0;
  .rar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    &-header {
      width: 100%;
      height: 250rpx;
      padding: 20rpx;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fdd730;
      border-bottom-left-radius: 25rpx;
      border-bottom-right-radius: 25rpx;
      &-left {
        flex: 1;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text {
          color: #000;
        }
        .nickname {
          font-weight: 600;
          font-size: 50rpx;
        }
        text:nth-child(2) {
          font-size: 32rpx;
          font-weight: 600;
        }
        .num {
          padding: 0 5rpx 5rpx 0;
          color: #1296db;
        }
      }
      &-right {
        width: 120rpx;
        height: 100%;
        display: flex;
        align-items: center;
        .avatar {
          width: 90rpx;
          height: 90rpx;
          border-radius: 50%;
          overflow: hidden;
          border: 10rpx solid #fff;
          image {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &-content {
      flex: 1;
      padding: 60rpx 25rpx 25rpx 25rpx;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      .tab {
        height: 45rpx;
        padding-bottom: 20rpx;
        text {
          font-size: 25rpx;
          color: #ccc;
        }
        text:nth-child(2) {
          margin-left: 20rpx;
        }
        text.active {
          font-size: 32rpx;
          color: #000;
          font-weight: 600;
        }
      }
      view:nth-child(2){
        flex: 1;
        overflow-y: auto;
        &::-webkit-scrollbar{
          width: 0;
          height: 0;
          color: transparent;
        }
      }
    }
    &-oper {
      position: fixed;
      bottom: 50rpx;
      right: 100rpx;
      width: 60rpx;
      height: 60rpx;
      display: flex;
      align-items: center;
      justify-content: center
      View {
        width: 60rpx;
        height: 60rpx;
        text-align: center;
      }
    }
  }
}