.not-pets {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  image {
    width: 200rpx;
    height: 200rpx;
  }
  text {
    margin-top: 20rpx;
    font-size: 40rpx;
    color: #dbdbdb;
    font-weight: bold;
    white-space: nowrap;
  }
}

.pet-card {
  margin-top: 40rpx;
}
.pet-card:nth-child(1) {
  margin-top: 10rpx;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add-pet {
  position: fixed;
  bottom: 110rpx;
  right: 60rpx;
}